.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.canvas{
    border: 2px solid black;
}

.top,.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.block,input,button,select{
    width:80%;
}

.top>block{                      /*for all Child element of block */                             
    margin: 10px;
}

.bottom>button{
    margin: 10px;
}

.btn1{
    background-color: rgb(246, 37, 37);
    font-weight: 600;     
}

.btn2{
    background-color: rgb(24,216,30);
    font-weight: 600;    
}



.btn1:hover{
    transform: scale(1.1);
    background-color:rgb(229, 11, 11);
}

.btn2:hover{
    transform: scale(1.1);
    background-color: rgb(11, 176, 11);
}





